/*      MAIN CSS        */
/*######################*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.menu li {
    display: inline;
    font-size: 18px;
    line-height: 21px;
    color: #2c2c2c;
    font-weight: 300;
    font-family: "Roboto";
    margin-right: 20px;
}


.menu li:last-child {
    margin-right: 0px;
}


.cabinet__button {
    border-radius: 3px;
    filter: drop-shadow(0px 5px 5px rgba(79, 122, 234, 0.3));
    background-color: #4f7aea;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    padding: 10px;
}


.header__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logo {
    display: flex;
}

.logo * {
    align-self: center;
}

.header__container .menu {
    align-self: center;
}

.header__container .cabinet__button {
    align-self: center;
}

.logo img {
    width: 42px;
    margin-right: 20px;
}

.logo div {
    font-size: 25px;
    color: #2c2c2c;
    font-weight: 900;
    font-family: "Roboto";
}

body {
    background-color: #ffffff;
}


.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 200px;
    margin-top: 60px;
}

.main__nav {
    max-width: 215px;
    border-radius: 3px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.05));
    background-color: #ffffff;
}


.main__nav a {
    font-size: 18px;
    color: #7a7a7a;
    font-weight: 300;
    font-family: "Roboto";
    padding: 20px 40px;
}

.main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5px 0 10px;
}

.user {
    height: 175px;
    border-radius: 3px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.05));
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 700;
    font-family: "Roboto";
}

.left__column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right__column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right__column div:first-child {
    flex-grow: 1;
}

.right__column div:last-child {
    flex-grow: 2;
}


.currency {
    display: flex;
    font-size: 18px;
    color: #7a7a7a;
    font-weight: 300;
    font-family: "Roboto";
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
}

.currency>div {
    border-radius: 3px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.05));
    background-color: #ffffff;
    padding: 20px;
}


.available {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.available__here {
    margin-bottom: 20px;
    font-size: 18px;
    color: #7a7a7a;
    font-weight: 300;
    font-family: "Roboto";
    display: flex;
    align-items: center;
}

.how__much__available {
    font-size: 30px;
    color: #4f7aea;
    font-weight: 300;
    font-family: "Roboto";
    margin-left: 20px;
}

.available__button {
    width: 250px;
    border-radius: 3px;
    filter: drop-shadow(0px 5px 5px rgba(79, 122, 234, 0.3));
    background-color: #4f7aea;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.main__buttons {
    max-width: 215px;
}

.main__buttons a {
    width: 100%;
    padding: 20px;
    border: 2px solid #4f7aea;
    border-radius: 3px;
    filter: drop-shadow(0px 5px 5px rgba(79, 122, 234, 0.3));
    font-size: 18px;
    color: #4f7aea;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    margin: 5px;
}

/*          MAIN CSS        */
/*########### END ##########*/

/*      index       */
/*##################*/


.current {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 286px;
    background-color: #fbfbfb;
}

.current__title {
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    padding-top: 20px;
}

.current__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul.current__block__top {
    display: flex;
    justify-content: center;
}

ul.current__block__dowm {
    display: flex;
    justify-content: center;
}

/*      index       */
/*###### END #######*/

/*      invest      */
/*##################*/

.deposit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 40px;
}

.deposit__text {
    font-size: 20px;
    color: #2c2c2c;
    font-weight: 700;
    font-family: "Roboto";
    align-self: center;
}

.deposit__currency ul {
    display: flex;
}

.deposit__currency ul li {
    margin-right: 20px;
    border: 1px solid#4f7aea;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: #4f7aea;
    font-weight: 300;
    font-family: "Roboto";
}

.deposit__currency ul li:last-child {
    margin-right: 0px;
}

.calculator {
    height: 427px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.05));
    background-color: #ffffff;
    border: 1px solid #f7f7f7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.deposit__name ul li {
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 300;
    font-family: "Roboto";
    background-color: #ffffff;
    text-align: center;
}

.deposit__terms {
    height: 427px;
    background-color: #f7f7f7;
}

/*      invest      */
/*####### END ######*/